@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 350px">Bem Vindo</h1>
    <p><a href="https://github.com/Isaac-Brasil-EM/ProjetoFinal"  target=" _blank">O Repositório do projeto pode ser encontrado aqui</a>.</p>
</div>
